
        <section class=" my-11 ">
            <section class="flex ">
               {{#> cards/cards_detail}}
               {{/cards/cards_detail}}
            </section>
            <section class="flex my-8">
                {{#> cards/card_suggestion}}
                {{/cards/card_suggestion}}
            </section>
        </section>
