<section >
    <section class="md:flex flex-row  justify-between">
        <div>
           
               <img src="imgs/make6.jpg" class="md:w-full" alt="Sombras">
        
        </div>
        <div class="justify-evenly">
          
            <h3 class="text-center text-xl">Sombras</h3>
            <p>La Paleta de Sombras Nude Awaking de Wet N Wild contiene 10 sombras en variedad de acabados mate y brillante. Su fórmula es de ultra pigmentación, textura suave y fácil de difuminar. ¡Crea desde un look luminoso para el día hasta un dramático smokey eye!</p>
             <div>
                  {{#> buttons/buttons  }}
                   
                    <a href="">{{project.precio}}</a>
                 
                 {{/buttons/buttons}}
          

           
        </div>
        </div>
       
    </section>
</section>