<section class="flex flex-col justify-between items-center md:w-2/6 p-8 ">
</section>
<section class="flex flex-col justify-between items-center p-4 md:w-2/6 ">
  Todos los Derechos Reservados 2021
</section>
<section class="flex flex-col justify-between items-center p-8 md:w-2/6 ">
  <span></span>
</section>
