{{!-- Este es un comentario no aparece en el html final --}}
{{!--  define que master page va a utilizar en este es layoute/basic --}}
{{#> layouts/basic page_title="Inicio"}}
  {{!-- el #*inline "nombre de bloque"
    define donde incorporar en el layout el codigo siguiente
   --}}
  {{#*inline "main-block"}}
    <section class="p-8 relative">
      {{> products/product_detail}}
      {{products/product_detail}}
 
    </section>
  {{/inline}}
{{/layouts/basic}}
